{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des utilisateurs : Admin Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center text-bg-info">Gestion des utilisateurs</h1>

<div class="row d-flex justify-content-start "> 
    <button type="button" class="btn btn-success col-2 m-3">
        <a class="text-decoration-none text-light" href="{{ path('admin_user_new') }}">
            CREER UN UTILISATEUR
        </a>
    </button>
</div>

    <table class="table">
        <thead>
            <tr>
                
                <th>Email</th>
                <th>Role(s)</th>
                <th>Mot de passe</th>
                <th>Prénom</th>
                <th>Nom</th>
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                
                <td>{{ user.email }}</td>
                <td>
                    {% if user.roles|json_encode == '["ROLE_USER"]' %}
                        <h6 class="text-success">
                        {{ user.roles ? user.roles|json_encode : '' }}</h6>
                    {% else %}
                        <h5 class="text-danger">
                        {{ user.roles ? user.roles|json_encode : '' }}</h5>
                    {% endif %}
                </td>
                {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                <td>{{ user.password|slice(0,10) }} [...]</td>
                <td>{{ user.firstname|capitalize }}</td>
                <td>{{ user.lastname|capitalize }}</td>
                <td>
                    <div class="d-flex flex-row"></div>
                    <button type="button" class="btn btn-primary mb-2 editDelete">
                        <a class="text-decoration-none text-light" href="{{ path('admin_user_edit', {'id': user.id}) }}">
                            MODIFIER 
                        </a>
                    </button>
                    
                    {{ include('admin/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">il n'y a pas d'utilisateur pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    
{% endblock %}
