{% extends 'base.html.twig' %}

{% block title %}Qui-sui-je? : Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block content %}
    
    {% for about in abouts %}
        <div class="row row-description d-flex flex-column flex-md-row position-relative">
            <div class="col col-md-6 col-lg-3 d-flex flex-column align-items-center order-2 order-md-1 my-5 mb-0 my-md-0 my-lg-5 mb-lg-0">
                
                <!-- groupe title only for mobile version -->
                <h1 class="d-md-none text-center display-1">Sandrine Picod</h1>
                <h5 class="d-md-none text-center">hommes, femmes, enfants</h5>
                <h4 class="d-md-none text-center"><small>{{ about.undertitle|raw }}</small></h4>

                <img class="bd-placeholder-img rounded-circle my-4 mb-0 my-md-0 my-lg-5 mb-lg-0" 
                src="{{ asset('/uploads/images/' ~ about.illustration) }}" 
                width="300" height="300"
                focusable="false" role="img" 
                alt="{{ about.illustration }}">

                {% for contactMe in contactMes %}
                <p class="mt-4 py-3 text-center">
                    <a class="btn btn-contact btn-light bg-light text-primary" href="{{ path('contactMe') }}" role="button">CONTACTEZ-MOI &raquo;</a>
                </p>
                {% endfor %}
            </div><!-- /.col-lg-4 -->
            <div class="my-5 my-md-3 d-lg-none"></div>
            <div class="col col-md-6 order-1 order-md-2 block-online-name py-lg-0 d-flex flex-column">
                {% for logo in logos %}
                    <div class=" position-relative py-5">
                        <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid position-absolute top-50 start-50 translate-middle my-lg-5" 
                            src="/build/images/cabinetDeBienEtre.5e6060c0.png"
                            width="700" height="700" 
                            alt="{{ logo.banner }}">
                    </div>
                        
                    <div class="position-relative my-3">
                        <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid position-absolute top-50 start-50 translate-middle my-lg-3" 
                            src="{{ asset('/uploads/images/' ~ logo.logoPro) }}"
                            width="150" height="150" 
                            alt="{{ logo.logoPro }}">

                        
                    </div>
                {% endfor %}
                <!-- groupe title only for desktop and middle screen version -->
                <section class="main-title-group py-md-0 py-lg-5 pb-lg-0 ">
                    <h1 class="d-none d-md-flex justify-content-md-center display-md-3 display-lg-1 my-md-2 py-md-5 pb-md-0 ">Sandrine Picod</h1>
                    
                    <h5 class="d-none d-md-flex justify-content-md-center">hommes, femmes, enfants</h5>
            
                    <h4 class="d-none d-md-flex justify-content-lg-center text-md-center"><small>{{ about.undertitle|raw }}</small></h4>
                </section>
                

            </div><!-- /.col-lg-4 -->
    
        <!-- START INTERVENTION CARD -->
            <div class="col-lg-3 order-3 d-flex justify-content-center">
                <div class="card intervention-card">
                    <div class="card-body d-flex flex-column">
                    <h5 class="card-title">INTERVENTIONS<br> EXTERIEURES</h5>
                    <a href="#" class="btn btn-ext">ENTREPRISE</a>
                    <a href="#" class="btn btn-ext">ECOLE</a>
                    <a href="#" class="btn btn-ext">EHPAD</a>
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <!-- START THE DESCRIPTION -->
        <div class="container my-5 my-lg-0">
        
            <div class="row row-description">
                <div class="col-lg-7">
                    <h2 class="description-heading">{{ about.title1 }}</h2>
                    <p class="lead">{{ about.description1 }}</p>
                </div>
                <div class="col-lg-5 d-flex justify-content-center">
                    <img class="img-home bd-placeholder-img bd-placeholder-img-lg img-fluid " 
                    src="{{ asset('/uploads/images/' ~ about.pics1) }}" 
                    
                    focusable="false" role="img" 
                    alt="{{ about.title1 }}">
                </div>
            </div>

            <p class="description-divider"></p>

            <div class="row row-description">
                <div class="col-lg-7 order-md-2">
                    <h2 class="description-heading">{{ about.title2 }}</h2>
                    <p class="lead">{{ about.description2 }}</p>
                </div>
                <div class="col-lg-5 d-flex justify-content-center">
                    <img class="img-home bd-placeholder-img bd-placeholder-img-lg img-fluid " 
                    src="{{ asset('/uploads/images/' ~ about.pics2) }}" 
                    
                    focusable="false" role="img" 
                    alt="{{ about.title2 }}">
                </div>
            </div>

            <p class="description-divider"></p>

            <div class="row row-description">
                <div class="col-lg-7">
                    <h2 class="description-heading">{{ about.title3 }}</h2>
                    <p class="lead">{{ about.description3 }}</p>
                </div>
                <div class="col-lg-5 d-flex justify-content-center">
                    <img class="img-home bd-placeholder-img bd-placeholder-img-lg img-fluid " 
                    src="{{ asset('/uploads/images/' ~ about.pics3) }}" 
                    
                    focusable="false" role="img" 
                    alt="{{ about.title3 }}">
                </div>
            </div>
        
            <p class="description-divider"></p>    

        <!-- /END THE descriptionS -->
        </div>
    {% endfor %}

    <section class="buttons-rdv-contact">
        <p class="mt-4 d-flex justify-content-center">
            <a class="btn btn-mesPresta bg-none border border-primary border-2 text-primary px-5" href="/mes-prestations/detente-relaxation/Segmentaire" role="button">MES PRESTATIONS EN CABINET &raquo;</a>
        </p>
    
        <p class="mt-4 d-flex justify-content-center">
            <a class="btn btn-rdv btn-dark bg-primary text-light px-3" href="#" role="button">PRENEZ RENDEZ-VOUS &raquo;</a>
        </p>
    </section>
    

{% endblock %}
