{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ about.id }}</td>
            </tr>
            <tr>
                <th>Undertitle</th>
                <td>{{ about.undertitle }}</td>
            </tr>
            <tr>
                <th>Title1</th>
                <td>{{ about.title1 }}</td>
            </tr>
            <tr>
                <th>Description1</th>
                <td>{{ about.description1 }}</td>
            </tr>
            <tr>
                <th>Pics1</th>
                <td>{{ about.pics1 }}</td>
            </tr>
            <tr>
                <th>Title2</th>
                <td>{{ about.title2 }}</td>
            </tr>
            <tr>
                <th>Description2</th>
                <td>{{ about.description2 }}</td>
            </tr>
            <tr>
                <th>Pics2</th>
                <td>{{ about.pics2 }}</td>
            </tr>
            <tr>
                <th>Title3</th>
                <td>{{ about.title3 }}</td>
            </tr>
            <tr>
                <th>Description3</th>
                <td>{{ about.description3 }}</td>
            </tr>
            <tr>
                <th>Pics3</th>
                <td>{{ about.pics3 }}</td>
            </tr>
            <tr>
                <th>Illustration</th>
                <td>{{ about.illustration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_about_index') }}">back to list</a>

    <a href="{{ path('app_about_edit', {'id': about.id}) }}">edit</a>

    {{ include('about/_delete_form.html.twig') }}
{% endblock %}
