<div class="col-12 card-package">
  <!-- card pack-Tarifs -->

  <h3 class="col-12 ">Tarifs</h3>

  <div class="row">
    {% if massage.pack is empty %}
        <li class="list-unstyled">ce massage n'a pas de formule</li>
        {{ dump(massage) }}
    {% else %}
    <div class="col-6 p-0"> <!-- colonne Tarif a la séance-->
        <h4>{{ massage.packCatSolo }}</h4>
            <ul class="p-0">
              {% for pack in massage.pack %}
                {% if pack.isSolo == 1 %}
                 
                    <li class="list-unstyled">
                      {{ pack.time }}min : {{ pack.price }}€ {{ pack.content }}
                    </li>
                {% endif %}
              {% endfor %}
            </ul>

      
    </div><!-- FIN colonne Tarif a la séance-->

    <div class="col-6 p-0"> <!-- colonne Tarif au forfait-->
        <h4>{{ massage.packCatMulti }}</h4>
            <ul class="p-0">
              {% for pack in massage.pack %}
                {% if pack.isSolo == 0 %}
                  
                    <li class="list-unstyled">
                      {{ pack.time }}min : {{ pack.price }}€ {{ pack.content }}
                    </li>
                  
                {% endif %}
              {% endfor %}
            </ul>

      
    </div><!-- FIN colonne Tarif au fofait-->
    
  
    {% for pack in massage.pack %}
      <div class="d-flex justify-content-center">
        <p>{{ pack.modality }}</p>
      </div>
    {% endfor %}

  {% endif %}
</div>
</div>
