{% extends 'admin/base.html.twig' %}

{% block title %}Qui suis je? : Admin Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-bg-info">Qui-suis-je?</h1>
        <body>
        {% for about in abouts %}
            <div class="container mt-4">
                <div class="headerBlog d-flex justify-content-center">
                    <div class="border border-primary rounded m-3 p-3 d-flex">
                        <div class="col d-flex flex-column align-items-center">
                            <strong class="d-flex justify-content-center text-secondary mb-2">Photo de profil : </strong>
                            <img class="bd-placeholder-img rounded-circle" 
                                src="{{ asset('/uploads/images/' ~ about.illustration) }}" 
                                width="150" height="150"
                                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" 
                                alt="{{ about.illustration }}">
                        </div>

                        <div class="col my-auto">
                            <strong class="text-secondary">Sous-titre :</strong><br>
                            <h6 class="d-flex justify-content-center"> {{ about.undertitle|raw }}</h6>
                        </div>
                    </div>
                </div><!--end of headerBlog -->

                <div class="contentBlog d-flex mt-4">
                    
                    <div class="col-4">
                        <strong class="text-secondary">Titre n°1 : </strong><h6 class="mb-3">{{ about.title1 }}</h6>
                        <strong class="text-secondary">Description n°1 : </strong> 
                        <p class="fw-light mb-3">{{ about.description1|slice(0, 150) }} <br>[...]</p>
                        <strong class="text-secondary">Image n°1 : </strong> 
                        <div class="col-md-8 img-home-admin">
                            <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid " 
                            src="{{ asset('/uploads/images/' ~ about.pics1) }}" 
                            alt="{{ about.title1 }}">
                        </div>
                    </div>
                    
                    <div class="home-divider border m-2"></div>
                    
                    <div class="col-4">
                        <strong class="text-secondary">Titre n°2 : </strong><h6 class="mb-3">{{ about.title2 }}</h6>
                        <strong class="text-secondary">Description n°2 : </strong> 
                        <p class="fw-light mb-3">{{ about.description2|slice(0, 150) }} <br>[...]</p>
                        <strong class="text-secondary">Image n°2 : </strong> 
                        <div class="col-md-8 img-home-admin">
                            <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid " 
                            src="{{ asset('/uploads/images/' ~ about.pics2) }}" 
                            alt="{{ about.title2 }}">
                        </div>
                    </div>
                
                    <div class="home-divider border m-2"></div>
                
                    <div class="col-4">
                        <strong class="text-secondary">Titre n°3 : </strong><h6 class="mb-3">{{ about.title3 }}</h6>
                        <strong class="text-secondary">Description n°3 : </strong> 
                        <p class="fw-light mb-3">{{ about.description3|slice(0, 150) }} <br>[...]</p>
                        <strong class="text-secondary">Image n°3 : </strong> 
                        <div class="col-md-8 img-home-admin">
                            <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid " 
                            src="{{ asset('/uploads/images/' ~ about.pics3) }}" 
                            alt="{{ about.title3 }}">
                        </div>
                    </div>
                
                </div> <!--end of contentBlog -->

                <div class="row d-flex justify-content-center mt-5"> 
                    <button type="button" class="btn btn-primary w-25 "><a class="text-decoration-none text-light" href="{{ path('admin_about_edit', {'id': about.id}) }}">MODIFIER</a></button>
                </div>
                
                   
            </div><!--end of container -->
        {% else %}
            <div class="container mt-5">
                <div>
                    <p colspan="13">La page "Qui-suis-je" n'a aucun contenu pour le moment</p>
                </div>

                <div class="row d-flex justify-content-end "> 
                    <button type="button" class="btn btn-success col-2 mx-3"><a class="text-decoration-none text-light" href="{{ path('admin_about_new') }}">CREER LE CONTENU</a></button>
                </div>
            </div>
        {% endfor %}
        </body>
    
{% endblock %}
