{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des catégories de produits : Admin Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block body %}
    
    <h1 class="d-flex justify-content-center text-bg-info">Gestion des catégories de produits</h1>
   
    <a class="h5 p-3" href="{{ path('admin_massage_index') }}"><< Retour aux massages</a>

    <div class="row d-flex justify-content-start "> 
        <button type="button" class="btn btn-success col-2 m-3">
            <a class="text-decoration-none text-light" href="{{ path('admin_prod_category_new') }}">
                CREER UNE CATEGORIE
            </a>
        </button>
    </div>
    
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la catégorie</th>
                </tr>
            </thead>
            <tbody>
            {% for prod_category in prod_categories %}
                <tr>
                    <td>{{ prod_category.name }}</td>
                    <td>
                        <div class="d-flex flex-row"></div>
                        <button type="button" class="btn btn-primary mb-2">
                            <a class="text-decoration-none text-light" href="{{ path('admin_prod_category_edit', {'id': prod_category.id}) }}">
                                MODIFIER 
                            </a>
                        </button>
                        {{ include('admin/prod_category/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">il n'y a pas de catégorie pour le moment</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
{% endblock %}