{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des catégories de massages : Admin Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center text-bg-info">Gestion des catégories de massages</h1>

<a class="h5 p-3" href="{{ path('admin_massage_index') }}"><< Retour aux massages</a>

<div class="row d-flex justify-content-start "> 
    <button type="button" class="btn btn-success col-2 m-3">
        <a class="text-decoration-none text-light" href="{{ path('admin_mass_category_new') }}">
            CREER UNE CATEGORIE
        </a>
    </button>
</div>
<div class="text-danger">*** Pour des raisons de mise en page le site devra toujours avoir que 3 catégories ***</div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
            </tr>
        </thead>
        <tbody>
        {% for mass_category in mass_categories %}
            <tr>
                <td>{{ mass_category.name }}</td>
                <td>
                    <div class="d-flex flex-row"></div>
                    <button type="button" class="btn btn-primary m-2 editDelete">
                        <a class="text-decoration-none text-light" href="{{ path('admin_mass_category_edit', {'id': mass_category.id}) }}">
                            MODIFIER 
                        </a>
                    </button>
                   {#  {{ include('admin/mass_category/_delete_form.html.twig') }} #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">il n'y a pas de catégorie pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-danger">*** Pour des raisons de mise en page le site devra toujours avoir que 3 catégories ***</div>
{% endblock %}
