{% extends 'admin/base.html.twig' %}

{% block title %}Gestion des massages : Admin Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center text-bg-info">Gestion des forfaits</h1>

    <a class="h5 p-3" href="{{ path('admin_massage_index') }}"><< Retour aux massages</a>

    <div class="row d-flex justify-content-start "> 
        <button type="button" class="btn btn-success col-2 m-3">
            <a class="text-decoration-none text-light" href="{{ path('admin_pack_new') }}">
                CREER UN FORFAIT
            </a>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                
                <th>Durée</th>
                <th>Prix</th>
                <th>Public</th>
                <th>Nom (descriptif)
                    <div class="text-danger">*** Pour des raisons de mise en page, <br>
                         l'ecriture du NOM devra toujours respecter : <br>
                         [title]-[durée]-[prix]-[public] ***</div>
                </th>
                <th>Séance seule</th>
                <th>Modalité</th>
                
            </tr>
        </thead>
        <tbody>
        {% for pack in packs %}
            <tr>
                
                <td>{{ pack.time }}min</td>
                <td>{{ pack.price }}€</td>
                <td>{{ pack.content }}</td>
                <td>{{ pack.name }}</td>
                <td>{{ pack.isSolo ? 'Oui' : 'Non' }}</td>
                <td>{{ pack.modality }}</td>
                <td>
                    <button type="button" class="btn btn-primary m-2 editDelete">
                        <a class="text-decoration-none text-light" href="{{ path('admin_pack_edit', {'id': pack.id}) }}">
                            MODIFIER 
                        </a>
                    </button>
                    {{ include('admin/pack/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de forfaits enregistrés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
