<nav class="navbar navbar-expand-md navbar-light fixed-top bg-info p-0 px-3">
    <a class="navbar-brand order-1 order-md-1 p-0" href="{{ path('home') }}">
        {% for logo in logos %}
            <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid p-0" 
            src="{{ asset('/uploads/images/' ~ logo.logoPro) }}"
            width="70" height="70" 
            alt="{{ logo.logoPro }}">
        {% endfor %}
    </a>
    <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse order-md-2" id="navbarCollapse">
        <ul class="navbar-nav">
          {% set links = [
                {'title': 'Qui-suis-je?', 'path': 'home', 'slug':null, 'title_massage':null},
                {'title': 'Mes prestations', 'path': 'massage', 'slug': 'detente-relaxation', 'title_massage': 'Segmentaire' },
                {'title': 'Avis', 'path': 'feedback', 'slug':null, 'title_massage':null},
                {'title': 'E-Boutique', 'path': 'product_by_category', 'slug':'huile-bio', 'title_massage':null}
            ] %}
            {% for link in links %}
                <li class="nav-item">
                    <a class="nav-title {{ app.request.pathinfo == path(link.path, {'slug': link.slug ,'title_massage': link.title_massage}) ? 'active' }}"
                            {{ app.request.pathinfo == path(link.path, {'slug': link.slug ,'title_massage': link.title_massage}) ? 'aria-current="page"' }} 
                            href="{{ path(link.path, {'slug': link.slug , 'title_massage': link.title_massage}) }}">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %} 
        </ul>
    </div>
    <div class="order-2 order-md-3">
        {% if app.user %}
        <a class="btn btn-light bg-light text-primary" href="{{ path('account') }}">Mon compte<small>({{ app.user.firstname }})</small></a>|<a class="btn btn-light bg-light text-primary" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
        <a class="btn btn-light bg-light text-primary" href="{{ path('app_login') }}">Connexion</a>|<a class="btn btn-light bg-light text-primary" href="{{ path('register') }}">Inscription</a>
        {% endif %}
    </div>
</nav>