<!-- BARRE DE NAVIGATION : TOP -->
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-info p-0 px-3">

    <!-- LOGO SANDRINE -->    
    <a class="navbar-brand order-1 order-md-1 p-0" href="{{ path('home') }}">
        {% for logo in logos %}
            <img class="bd-placeholder-img bd-placeholder-img-lg img-fluid p-0" 
            src="{{ asset('/uploads/images/' ~ logo.logoPro) }}"
            width="70" height="70" 
            alt="{{ logo.logoPro }}">
        {% endfor %}
    </a>
    <!-- /. LOGO SANDRINE --> 

    <!-- BURGER BUTTON --> 
    <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- /. BURGER BUTTON -->     

    <!-- NAV LINKS -->
    <div class="collapse navbar-collapse order-md-2" id="navbarCollapse">
        <ul class="navbar-nav">
          {% set links = [
                {'title': 'Qui-suis-je?', 'path': 'home', 'slug':null, 'title_massage':null},
                {'title': 'Mes prestations', 'path': 'massage', 'slug': 'detente-relaxation', 'title_massage': 'Segmentaire' },
                {'title': 'Avis', 'path': 'feedback', 'slug':null, 'title_massage':null},
                {'title': 'E-Boutique', 'path': 'product_by_category', 'slug':'huile-bio', 'title_massage':null}
            ] %}
            {% for link in links %}
                <li class="nav-item">
                    <a class="nav-title {{ app.request.pathinfo == path(link.path, {'slug': link.slug ,'title_massage': link.title_massage}) ? 'active' }}"
                            {{ app.request.pathinfo == path(link.path, {'slug': link.slug ,'title_massage': link.title_massage}) ? 'aria-current="page"' }} 
                            href="{{ path(link.path, {'slug': link.slug , 'title_massage': link.title_massage}) }}">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %} 
        </ul>
    </div>
    <!-- /. NAV LINKS -->

    <!--PRIVATE ACCESS-->
    <div class="order-2 order-md-3 d-flex flex-row">
        
        {% if app.user %}
        <!--Desktop view-->
        <a class="btn btn-light bg-light text-primary d-none d-lg-flex mx-1 ml-0" href="{{ path('account') }}">Compte de<strong class="mx-1 mr-0 user-name">{{ app.user.firstname|escape }}</strong></a>
        
        <!--Mobil view-->
        <a class="btn btn-light bg-light text-primary d-lg-none mx-1 ml-0" href="{{ path('account') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg><strong class="mx-1 mr-0 user-name">{{ app.user.firstname|escape }}</strong></a>

        <!-- LOGIN / LOGOUT-->
        <!--Desktop view-->
        <a class="btn btn-light bg-light text-primary d-none d-md-flex" href="{{ path('app_logout') }}">Déconnexion</a>

        <!--Mobil view-->
        <a class="btn btn-light bg-light text-primary d-md-none" href="{{ path('app_logout') }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg></a>
        
        {% else %}
        <a class="btn btn-light bg-light text-primary" href="{{ path('app_login') }}">Connexion</a>|<a class="btn btn-light bg-light text-primary" href="{{ path('register') }}">Inscription</a>
        {% endif %}
        <!-- /. LOGIN / LOGOUT-->
    </div>
    <!-- /. PRIVATE ACCESS-->
</nav>

<!-- /. BARRE DE NAVIGATION : TOP -->