{% extends 'base.html.twig' %}

{% block title %}Avis : Cabinet de Bien-Être-Sandrine-Picod{% endblock %}

{% block content %}

    <h1 class="d-flex justify-content-center">Ils ont aimé l'experience</h1>

    <div class="row">
        {% for about in abouts %}
            <div class="col order-1 col-lg-4 flex-column">
                
                <img class="bd-placeholder-img rounded-circle" 
                src="{{ asset('/uploads/images/' ~ about.illustration) }}" 
                width="300" height="300"
                focusable="false" role="img" 
                alt="{{ about.illustration }}">
                
                {% for contactMe in contactMes %}
                    <p class="mt-4">
                        <a class="btn btn-contact btn-light bg-light text-primary" href="{{ path('contactMe') }}" role="button">CONTACTEZ-MOI &raquo;</a>
                    </p>
                {% endfor %}

                <div class=" d-flex justify-content-center">
                    <img class="" height="150" src="/build/images/blue.f90ba096.png" alt="">
                </div>
            
               
            </div>
        {% endfor %}
        
        <section class="col order-2 col-lg-7 slidder">
            
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" checked/>
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            
            
            <main id="carousel">

                {% for feedback in feedbacks %}
              <div class="item">
                <section class="card-feedback">
                    <h3>{{ feedback.title }}</h3>
                    <p>{{ feedback.content }}</p>
                    <h2 class="d-flex justify-content-end position-absolute bottom-0 end-0 mx-3">{{ feedback.name }}</h2>
                </section>
              </div>
                {% endfor %}

            </main>
             
        </section><!-- /.right col -->
        
    </div>
    
{% endblock %}